@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 10%;
    padding: 10px 10px;
    height: 100vh;
    box-sizing: border-box;
    background-color: #08142e;
}

.open-page {
    text-decoration: none;
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    color: #1b4091;
}

.textoazul {
    font-family: "Kulim Park", sans-serif;
    color: #1b4091;

    text-decoration: none;
}

h1 {
    font-family: "Kulim Park", sans-serif;
    font-size: 128px;
    color: #F1F1F1;
}

.cabecalho {
    display: flex;
    flex-direction: column;
}
.logo-e-titulo {
    background-color: #1b4091;
    height: 140px;
    padding: 0 15px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.ancoras {
    color: #1b4091;
    background-color: #D4C023;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
}

.siteoficial {
    color: #1b4091;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.pageselector {
    color: #1b4091;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    gap: 15px;
}

main {
    background-color: #F1F1F1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    height: 900px;

    padding: 30px;
}

.manchete {
    font-family: "Kulim Park", sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #000000;
}

.linha-fina {
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
}

.autor {
    font-family: "Kulim Park", sans-serif;
    font-style: italic;
    color: #2e2e2e;
    font-size: 16px;
}

.conteudo {
    font-family: "Kulim Park", sans-serif;
    font-size: 20px;
    color: #000000;
}

footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1b4091;
    height: 80px;
}

.secao-equipe {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.textorodape {
    color: #F1F1F1;
    font-family: "Kulim Park", sans-serif;
}